<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </script>
    <link rel="stylesheet" href="/css/main.min.css">
    <title>Open-Link-Logger</title>
</head>

<body>
    <div class="container text-center">
        <p class="fs-1">404 error</p>
        <p class="fs-4">This page doesn't exist.</p>
        <p>
            Click <a href="/">here</a> to go back to home page. 
        </p>


    </div>


</body>

</html>